.Rproj.user
.Rhistory
.RData
.Ruserdata

r4ds.tutorials.Rproj

# According to chatGPT, this .gitignore line will match any 
# subdirectory under inst/tutorials/ except for data, images or those 
# ending in .Rmd.

inst/tutorials/[^/]*/(?!(data|images|.*Rmd))

# But, given the above, why do we need these two lines? We shouldn't!

inst/tutorials/*/*html

inst/tutorials/*/*_files/

# Not sure why this is needed, but something in the above was preventing git 
# from noticing these files, so I needed to explicitly include them. We
# should go back and fix this properly.

!inst/tutorials/27-iteration/data/

# For cache directories:

inst/tutorials/*/tutorial_cache

# The simple name of a file ignores that file wherever it might appear.

.DS_Store



