.Rproj.user
.Rhistory
.RData
.Ruserdata

r4ds.tutorials.Rproj

# Match all subdirectories under inst/tutorials/
inst/tutorials/*/

# But exclude data and images subdirectories
!inst/tutorials/*/data/
!inst/tutorials/*/images/

# And exclude .Rmd files
!inst/tutorials/*/*.Rmd

# The simple name of a file ignores that file wherever it might appear.

.DS_Store




/.quarto/
